<%- include("./partials/header.ejs")%>

<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Meet the Team</h1>
    <p class="lead text-custom">This is Us.

    </p>
    <span class="btn btn-custom">Group No. 11</span>
  </section>


    <div class="container">
      <div class="row align-item-center justify-content-center">


        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img
              src="https://media.licdn.com/dms/image/v2/D5603AQE6H_KLuX08rA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1728396339808?e=1735776000&v=beta&t=_BwWLJnY1h4jWXhCjt1MVXTXws4CghXqQO9M0rQ9QRc"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Ashilin B S</h5>
              <p class="card-text">Back End Team</p>
              <span class="btn btn-outline-primary btn-sm">22CSR024</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4   text-center">
          <div class="card">
            <img
              src="https://media.licdn.com/dms/image/v2/D5603AQHV2OgykU6Vow/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1723128684098?e=1735776000&v=beta&t=QIa4wIalaTIWQzAHHdJWpV7jLVtByt3nLcvKsj0hXcw"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Deepika Mathivanan</h5>
              <p class="card-text">Back End Team</p>
              <span class="btn btn-outline-primary btn-sm ">22CSR041</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img
              src="https://lh3.googleusercontent.com/pw/ACtC-3eCK6O1N1ET8XL_7WoUqiWx3lUbop8y_nAjJZpE3fY8kmPGXVzZXbUDAndlRCFE3V_Q3r4Jxny2dzqfhQ3hWkg7LELjUo258fGzl782no3rGJgp9-dq_GQrXM4MVhVmBkHsx3RpCQwpWQXFzAYGpCfg=w779-h767-no?authuser=0"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Gunal C</h5>
              <p class="card-text">Front End Team</p>
              <span class="btn btn-outline-primary btn-sm">22CSR041</span>
            </div>
          </div>
        </div>


  
 







      </div>


	  
<%- include("./partials/footer.ejs")%>
