<%- include("../partials/header.ejs") %>

<div class="row justify-content-center mt-5">
  <div class="col-sm-5 p-5 text-center">
    <h1>You have been logged out</h1>
    <p class="lead">Thank you for visiting! We hope to see you again soon.</p>

    <a href="/login" class="btn btn-info btn-block mt-3">Login Again</a>
    <a href="/" class="btn btn-secondary btn-block mt-3">Go to Home</a>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
